<%= form_with(model: mood, local: true) do |form| %>
  <% if mood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mood.errors.count, "error") %> prohibited this mood from being saved:</h2>

      <ul>
      <% mood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :rate %>
    <%= form.number_field :rate, id: :mood_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :mood_comment, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Add mood", class: "btn btn-primary" %>
  </div>
<% end %>
